$primary: #A6E0E1;
$primary2: #D8ECEB;
$grey: #6A6E71;
$gold: #EEE9C8;
$secondary: #f1f1f1;

$hero-body-padding-medium: 6rem 1.5rem;
$section-padding-medium: 6rem 1.5rem;



@import '../../node_modules/bulma/bulma';
@import 'utility';
@import 'main';
@import 'typography';

@import 'pages/privacypolicy';
@import 'pages/contact';
@import 'pages/home';
@import 'partials/nav';
@import 'partials/subheader';
@import 'pages/about';