/* Base Settings */
.container {
    max-width: 1140px !important;
}
h1,h2,h3,h4 {
    font-family: 'Dancing Script', sans-serif !important;
}   
.logo {
    font-family: 'Dancing Script', sans-serif !important;

}
.navbar-brand {
    transition: all .3s;
    &:hover {
    background-color: $primary;
}
}

p,a,li {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.home_logo {
    display: none;
}
/* Subheader */
@media only screen and (max-width: 968px)  {
.subheader {
    margin-top: 3.3rem;
}
.home_logo2 {
    display:none;
}
.home_logo {
    display: flex;
}
}



/* Found in footer */
.footer_logo { 
    width: 200px;
}
footer {

    .nav-link {
    color: $secondary !important;

    &:hover {
        color: $primary;
    }
}
}
.footer_bg {

}
.fill-brand-footer {
    height: 30px;
    width: 30px;
    fill: $primary;
    transition: all .3s;

    &:hover {
        fill: black;
    }
}
