/* open-sans-regular - latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local(''),
         url('/fonts/open-sans-v18-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/open-sans-v18-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* dancing-script-regular - latin */
@font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 400;
    src: local('Dancing Script Regular'), local('Dancing-Script-Regular'),
         url('/fonts/dancing-script-v15-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/dancing-script-v15-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }
/* dancing-script-700 - latin */
  @font-face {
    font-family: 'Dancing Script';
    font-style: normal;
    font-weight: 700;
    src: local('Dancing Script Bold'), local('Dancing-Script-Bold'),
         url('/fonts/dancing-script-v15-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
         url('/fonts/dancing-script-v15-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
  }

.is-size-1 {
    font-size: 3.5rem !important;
}

.is-hero {
    font-size: 6.0rem;
    line-height: 1;
    margin-bottom: 1rem;
}
p {
    font-size: 1.15rem;
}
.has-font-size-small {
    font-size: 1.1rem;
}
@media(max-width: 768px) {
    .is-size-1 {
        font-size: 2.5rem !important;
    }
}