{{ define "main" }}
{{- partial "subheader.html" .}}
<section class="section is-medium">
    <div class="container">
        <div class="columns">
            <div class="column is-8">
                <h2 class="is-size-2">{{ .Params.heading1 }}</h2>
                <div class="divider"></div>
                <p class="block">{{ .Params.about1 | safeHTML }}</p>
            </div>
            
            <div class="column is-flex is-column is-justified-center is-aligned-center">
                <img src="{{ $.Site.BaseURL}}img/logo.png" alt="">
                
            </div>
        </div>
        
    </div>
</section>
<section class="section is-medium has-background-primary">
    <div class="container">
    <h2 class="is-size-2 has-text-white has-text-centered">{{ .Params.heading2 }}</h2>
    <div class="py-5 my-5"></div>
    <div class="columns">
        <div class="column">
            <div class="about_box is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up" data-aos-duration="800">
                
                <h3 class="is-size-5 has-text-centered has-text-weight-bold subline">{{ .Params.box1 }}</h3>
  
                <p class="has-text-centered has-font-size-small">{{ .Params.box1_desc }}</p>
            </div>
            
        </div>

        <div class="column">
            <div class="about_box is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up" data-aos-duration="800">
            <h3 class="is-size-5 has-text-centered has-text-weight-bold subline">{{ .Params.box2 }}</h3>

            <p class="has-text-centered has-font-size-small">{{ .Params.box2_desc }}</p>
        </div>
        </div>

        <div class="column">
            <div class="about_box is-flex is-column is-justified-center is-aligned-center" data-aos="fade-up" data-aos-duration="800">
            <h3 class="is-size-5 has-text-centered has-text-weight-bold subline">{{ .Params.box3 }}</h3>

            <p class="has-text-centered has-font-size-small">{{ .Params.box1_desc }}</p>
        </div>
            </div>
    </div>
</div>
</section>
{{- partial "cta.html" .}}
{{ end }}