{{ define "main" }}

<header id="home" class="hero is-medium gradient-background">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-flex is-column is-justified-center">
          <h1 class="is-hero">{{ .Params.heading1 }}</h1>
          <h2 class="is-size-2">{{ .Params.subheading1 }}</h2>
          <div class="">
          <a href="#contact" class="button is-primary mt-5">Schedule Appointment</a>
        </div>
        </div>
        <div class="column">
          <img src="{{ $.Site.BaseURL }}img/logo.png" class="lazyload" alt="La Plume d'Éveil">
        </div>
      </div>
      
    </div>
  </div>
</header>
<section id="about" class="section is-small pb-5 mb-5 gradient-background">
  <div class="container">
  <div class="columns is-variable is-5">
    <div class="column is-flex is-column is-justified-start is-aligned-center">
      <img src="{{ $.Site.BaseURL }}img/Christa-Victoria Kloeckner.jpg" class="lazyload has-shadow" class="has-shadow" alt="">
    </div>
    <div class="column">
      <h2 class="is-size-2 mb-3">{{ .Params.about_heading }}</h2>
      <p>{{ .Params.about_bio  | safeHTML }}</p>
    </div>
  </div>
</div>
</section>
<section id="numerology" class="section is-medium gradient-background2">
    <div class="custom-shape-divider-top-1611761437">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-6">
        <h2 class="is-size-2 mb-3">{{ .Params.numerology_heading }}</h2>
        <p>{{ .Params.numerology_desc | safeHTML }}</p>
        <a href="#contact" class="button is-secondary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/numerology.jpg" class="lazyload has-shadow" class="has-shadow" alt="Numerology">
        
      </div>
    </div>
  </div>
</section>
<section id="reiki" class="section is-medium gradient-background">
  <div class="custom-shape-divider-top-1611761239">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-6">
        <h2 class="is-size-2 mb-3">{{ .Params.reiki_heading }}</h2>
        <p>{{ .Params.reiki_desc | safeHTML }}</p>
        <a href="#contact" class="button is-primary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/Reiki.jpg" class="lazyload has-shadow" alt="">
        
      </div>
    </div>
  </div>

</section>
<section id="massage" class="section is-medium gradient-background2">
  <div class="custom-shape-divider-top-1611761437">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
</div>
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-6">
        <h2 class="is-size-2 mb-3">{{ .Params.massage_heading }}</h2>
        <p>{{ .Params.massage_desc }}</p>
        <a href="#contact" class="button is-secondary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/metamorphic.jpg" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>
<section id="access" class="section is-medium gradient-background">
  <div class="custom-shape-divider-top-1611761239">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <rect x="1200" height="3.6"></rect>
        <rect height="3.6"></rect>
        <path d="M0,0V3.6H580.08c11,0,19.92,5.09,19.92,13.2,0-8.14,8.88-13.2,19.92-13.2H1200V0Z" class="shape-fill"></path>
    </svg>
  </div>
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-6">
        <h2 class="is-size-2 mb-3">{{ .Params.access_heading }}</h2>
        <p>{{ .Params.access_desc }}</p>
        <a href="#contact" class="button is-primary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/accessbar.jpg" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section is-small gradient-background">
  <div class="container">
    <h2 class="is-size-1 is-bold has-text-centered has-text-left-touch">
      {{ .Params.contact_heading }}
    </h2>
    <h3 class="has-text-centered has-text-left-touch block py-2 is-size-4">
      {{ .Params.contact_desc | safeHTML }}
    </h3>
  </div>
  <div class="column is-half is-offset-one-quarter shadow is-bordered my-5 p-5">
    <form
      id="contact-form"
      method="POST"
      action="{{ .Site.Params.usebasin }}"
      class="has-shadow form has-background-light"
      role="form"
    >
      <div class="field">
        <label class="label">{{ i18n "firstname" }} *</label>

        <div class="control">
          <input
            id="form_name"
            class="input"
            placeholder="e.g Alex Smith"
            type="text"
            name="name"
            class="form-control"
            required="required"
            data-error="Firstname is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "email" }} *</label>

        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="e.g. alexsmith@gmail.com"
            data-error="Valid email is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "phone" }}</label>

        <div class="control">
          <input class="input" type="tel" placeholder="e.g. +1-234-567-7890" />
        </div>
      </div>

      <div class="field">
        <label for="form_message"><strong>Message *</strong></label>

        <textarea
          id="form_message"
          name="message"
          class="textarea"
          rows="4"
          required
          data-error="Please,leave us a message."
        ></textarea>
      </div>
      <div class="is-flex is-justified-center">
        <input type="submit" class="button is-primary is-large my-5 has-text-centered"
        value="{{ i18n "send" }}">
      </div>
    </form>
  </div>
</section>
{{ end }}

