{{ define "main" }}

<header id="home" class="hero is-fullheight is-fullheight-with-navbar gradient-background">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-flex is-column is-justified-center">
          <h1 class="is-hero">{{ .Params.heading1 }}</h1>
          <p class="is-size-2">{{ .Params.subheading1 }}</p>
          <p class="is-size-5">{{ .Params.subheading2 }}</p>
        </div>
        <div class="column">
          <img src="{{ $.Site.BaseURL }}img/logo-test.png" alt="La Plume d'Éveil">
        </div>
      </div>
      
    </div>
  </div>
</header>
<section id="about" class="section is-medium">
  <div class="container">
  <div class="columns is-variable is-5">
    <div class="column">
      <img src="https://via.placeholder.com/800x1200.png" class="has-shadow" alt="">
    </div>
    <div class="column">
      <h2 class="is-size-1 mb-3">{{ .Params.about_heading }}</h2>
      <p>{{ .Params.about_bio  | safeHTML }}</p>
    </div>
  </div>
</div>
</section>
<section class="triangle2"></section>
<section id="numerology" class="section is-medium has-background-primary">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">{{ .Params.numerology_heading }}</h2>
        <p>{{ .Params.numerology_desc | safeHTML }}</p>
        <a href="#" class="button is-secondary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/numerology.jpg" class="has-shadow" alt="Numerology">
        
      </div>
    </div>
  </div>
</section>
<section class="triangle"></section>
<section id="reiki" class="section is-medium">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">{{ .Params.reiki_heading }}</h2>
        <p>{{ .Params.reiki_desc | safeHTML }}</p>
        <a href="#" class="button is-primary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>

</section>
<section class="triangle2"></section>
<section id="massage" class="section is-medium has-background-primary">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">{{ .Params.massage_heading }}</h2>
        <p>{{ .Params.massage_desc }}</p>
        <a href="#" class="button is-secondary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="{{ $.Site.BaseURL }}img/metamorphic.jpg" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>
<section class="triangle"></section>
<section id="access" class="section is-medium">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">{{ .Params.access_heading }}</h2>
        <p>{{ .Params.access_desc }}</p>
        <a href="#" class="button is-primary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section is-small">
  <div class="container">
    <h2 class="is-size-2 is-bold has-text-centered has-text-left-touch">
      {{ .Params.contact_heading }}
    </h2>
    <p class="has-text-centered has-text-left-touch block py-2">
      {{ .Params.contact_desc | safeHTML }}
    </p>
  </div>
  <div class="column is-half is-offset-one-quarter shadow is-bordered my-5 p-5">
    <form
      id="contact-form"
      method="POST"
      action="{{ .Site.Params.usebasin }}"
      class="has-shadow form"
      role="form"
    >
      <div class="field">
        <label class="label">{{ i18n "firstname" }} *</label>

        <div class="control">
          <input
            id="form_name"
            class="input"
            placeholder="e.g Alex Smith"
            type="text"
            name="name"
            class="form-control"
            required="required"
            data-error="Firstname is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "email" }} *</label>

        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="e.g. alexsmith@gmail.com"
            data-error="Valid email is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "phone" }}</label>

        <div class="control">
          <input class="input" type="tel" placeholder="e.g. +1-234-567-7890" />
        </div>
      </div>

      <div class="field">
        <label for="form_message"><strong>Message *</strong></label>

        <textarea
          id="form_message"
          name="message"
          class="textarea"
          rows="4"
          required
          data-error="Please,leave us a message."
        ></textarea>
      </div>
      <div class="is-flex is-justified-center">
        <input type="submit" class="button is-primary is-large my-5 has-text-centered"
        value="{{ i18n "send" }}">
      </div>
    </form>
  </div>
</section>
{{ end }}

