{{ define "main" }}

<header id="home" class="hero is-fullheight is-fullheight-with-navbar gradient-background">
  <div class="hero-body">
    <div class="container">
      <div class="columns">
        <div class="column is-flex is-column is-justified-center">
          <h1 class="is-hero">Lorem ipsum dolor</h1>
          <p class="is-size-4">Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna, vel luctus justo egestas non. </p>
        </div>
        <div class="column">
          <img src="{{ $.Site.BaseURL }}img/logo-test.png" alt="La Plume d'Éveil">
        </div>
      </div>
      
    </div>
  </div>
</header>
<section id="about" class="section is-medium">
  <div class="container">
  <div class="columns is-variable is-5">
    <div class="column">
      <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
    </div>
    <div class="column">
      <h2 class="is-size-1 mb-3">About</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna, vel luctus justo egestas non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lobortis ex a nibh vulputate, a sollicitudin est laoreet. Etiam mattis sagittis enim a volutpat. Quisque quis aliquam libero. Integer ultrices maximus nibh euismod sollicitudin. Maecenas iaculis vel leo at mollis. Mauris sit amet placerat orci. Praesent tincidunt diam eu pharetra facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at rhoncus velit. Morbi ultrices mollis augue at porta. Sed at posuere mauris.</p>
    </div>
  </div>
</div>
</section>

<section id="numerology" class="section is-medium has-background-primary">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">Numerology</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna, vel luctus justo egestas non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lobortis ex a nibh vulputate, a sollicitudin est laoreet. Etiam mattis sagittis enim a volutpat. Quisque quis aliquam libero. Integer ultrices maximus nibh euismod sollicitudin. Maecenas iaculis vel leo at mollis. Mauris sit amet placerat orci. Praesent tincidunt diam eu pharetra facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at rhoncus velit. Morbi ultrices mollis augue at porta. Sed at posuere mauris.</p>
        <a href="#" class="button is-secondary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>

<section id="reiki" class="section is-medium">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">Reiki</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna, vel luctus justo egestas non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lobortis ex a nibh vulputate, a sollicitudin est laoreet. Etiam mattis sagittis enim a volutpat. Quisque quis aliquam libero. Integer ultrices maximus nibh euismod sollicitudin. Maecenas iaculis vel leo at mollis. Mauris sit amet placerat orci. Praesent tincidunt diam eu pharetra facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at rhoncus velit. Morbi ultrices mollis augue at porta. Sed at posuere mauris.</p>
        <a href="#" class="button is-primary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>

<section id="massage" class="section is-medium has-background-primary">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">Metamorphic Massage</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna, vel luctus justo egestas non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lobortis ex a nibh vulputate, a sollicitudin est laoreet. Etiam mattis sagittis enim a volutpat. Quisque quis aliquam libero. Integer ultrices maximus nibh euismod sollicitudin. Maecenas iaculis vel leo at mollis. Mauris sit amet placerat orci. Praesent tincidunt diam eu pharetra facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at rhoncus velit. Morbi ultrices mollis augue at porta. Sed at posuere mauris.</p>
        <a href="#" class="button is-secondary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>

<section id="numerology" class="section is-medium">
  <div class="container has-text-black">
    <div class="columns is-variable is-5">
      <div class="column is-8">
        <h2 class="is-size-1 mb-3">Access Bar</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna, vel luctus justo egestas non. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Cras lobortis ex a nibh vulputate, a sollicitudin est laoreet. Etiam mattis sagittis enim a volutpat. Quisque quis aliquam libero. Integer ultrices maximus nibh euismod sollicitudin. Maecenas iaculis vel leo at mollis. Mauris sit amet placerat orci. Praesent tincidunt diam eu pharetra facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse at rhoncus velit. Morbi ultrices mollis augue at porta. Sed at posuere mauris.</p>
        <a href="#" class="button is-primary mt-5">Schedule Appointment</a>
      </div>
      <div class="column is-flex is-column is-justified-center">
        <img src="https://via.placeholder.com/800" class="has-shadow" alt="">
        
      </div>
    </div>
  </div>
</section>

<section id="contact" class="section is-small">
  <div class="container">
    <h2 class="is-size-2 is-bold has-text-centered has-text-left-touch">
      Contact
    </h2>
    <p class="has-text-centered has-text-left-touch block py-2">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate purus sed felis aliquam lobortis. Mauris id tincidunt risus, convallis sollicitudin tortor. Aenean euismod ex magna,
    </p>
  </div>
  <div class="column is-half is-offset-one-quarter shadow is-bordered my-5 p-5">
    <form
      id="contact-form"
      method="POST"
      action="{{ .Site.Params.usebasin }}"
      class="has-shadow form"
      role="form"
    >
      <div class="field">
        <label class="label">{{ i18n "firstname" }} *</label>

        <div class="control">
          <input
            id="form_name"
            class="input"
            placeholder="e.g Alex Smith"
            type="text"
            name="name"
            class="form-control"
            required="required"
            data-error="Firstname is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "email" }} *</label>

        <div class="control">
          <input
            class="input"
            type="email"
            placeholder="e.g. alexsmith@gmail.com"
            data-error="Valid email is required."
          />
        </div>
      </div>

      <div class="field">
        <label class="label">{{ i18n "phone" }}</label>

        <div class="control">
          <input class="input" type="tel" placeholder="e.g. +1-234-567-7890" />
        </div>
      </div>

      <div class="field">
        <label for="form_message"><strong>Message *</strong></label>

        <textarea
          id="form_message"
          name="message"
          class="textarea"
          rows="4"
          required
          data-error="Please,leave us a message."
        ></textarea>
      </div>
      <div class="is-flex is-justified-center">
        <input type="submit" class="button is-primary is-large my-5 has-text-centered"
        value="{{ i18n "send" }}">
      </div>
    </form>
  </div>
</section>
{{ end }}

