{{ define "main" }}
{{- partial "subheader.html" .}}
<section class="section is-medium">
    <div class="container">
    <h2 class="is-size-3 mb-2">{{ .Params.heading1 }}</h2>
    <p class="block">{{ .Params.serviceintro }}</p>

        <h2 class="is-size-3 py-5 my-5">{{ .Params.heading2 }}</h2>
        <div class="py-5"></div>
        <div class="columns">
            <div class="column">
                <div class="box__feature is-flex is-column is-justified-center is-aligned-center">
                    <svg class="feature_icon">
                        <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#search"></use>
                      </svg>
                    <h3 class="is-size-4 has-text-centered has-text-weight-bold">01: {{ .Params.process1 }}</h3>
                    <p class="has-text-centered has-font-size-small">{{ .Params.process1_desc }}</p>
                </div>
                
            </div>
    
            <div class="column">
                <div class="box__feature is-flex is-column is-justified-center is-aligned-center">
                <svg class="feature_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#ballot-check"></use>
                  </svg>
                <h3 class="is-size-4 has-text-centered has-text-weight-bold">02: {{ .Params.process2 }}</h3>
                <p class="has-text-centered has-font-size-small">{{ .Params.process2_desc }}</p>
            </div>
            </div>
    
            <div class="column">
                <div class="box__feature is-flex is-column is-justified-center is-aligned-center">
                <svg class="feature_icon">
                    <use xlink:href="{{ $.Site.BaseURL }}icons/light.svg#rocket-launch"></use>
                  </svg>
                <h3 class="is-size-4 has-text-centered has-text-weight-bold">03: {{ .Params.process3 }}</h3>
                <p class="has-text-centered has-font-size-small">{{ .Params.process3_desc }}</p>
            </div>
                </div>
        </div>

</section>

<section class="section is-medium has-background-primary">
    <div class="container has-text-white">
        <h2 class="is-size-3 mb-2">{{ .Params.heading3 }}</h2>
        <p class="block">{{ .Params.heading3_sub }}</p>
        <div class="py-5"></div>
        <div class="columns" data-aos="fade-up" data-aos-duration="800">
            <div class="column is-4">
                <img src="{{ $.Site.BaseURL }}img/consulting.jpg" alt="" class="lazyload">
            </div>
            <div class="column is-8">
                <h3 class="is-size-4 has-text-weight-bold">{{ .Params.service1 }}</h3>
                <p class="block">{{ .Params.service1_desc }}</p>
            </div>
        </div>
        <div class="py-5"></div>
        <div class="columns" data-aos="fade-up" data-aos-duration="800">
            <div class="column is-4">
                <img src="{{ $.Site.BaseURL }}img/software_development.jpg" alt="" class="lazyload">
            </div>
            <div class="column is-8">
                <h3 class="is-size-4 has-text-weight-bold">{{ .Params.service2 }}</h3>
                <p class="block">{{ .Params.service2_desc }}</p>
            </div>
        </div>
        <div class="py-5"></div>
        <div class="columns" data-aos="fade-up" data-aos-duration="800">
            <div class="column is-4">
                <img src="{{ $.Site.BaseURL }}img/modernization.jpg" alt="" class="lazyload">
            </div>
            <div class="column is-8">
                <h3 class="is-size-4 has-text-weight-bold">{{ .Params.service3 }}</h3>
                <p class="block">{{ .Params.service3_desc }}</p>
            </div>
        </div>
    </div>
    
</section>
{{- partial "cta.html" .}}
{{ end }}