<section class="section has-text-centered-touch footer_bg">

    <div class="container">

    <div class="columns">

    <div class="column is-6 is-flex is-justified-center is-aligned-center">

      <img src="{{ $.Site.BaseURL }}img/logo.png"
                        alt="{{ .Site.Params.name }}"
                        class="lazyload"      
                        />   
    </div>

    <div class="column is-6 is-flex is-column is-justified-center">
      <h3 class="is-size-3 mb-2">Contact</h3>

      <div class="">
      {{ if .Site.Params.social.facebook }}
      <a href="{{ .Site.Params.social.facebook }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#facebook"></use>
        </svg>
        </a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.twitter }}
        <a href="{{ .Site.Params.social.twitter }}" target="_blank" rel="nofollow noreferrer">
          <svg class="fill-brand-footer">
            <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#twitter"></use>
          </svg>
          </a>
          {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.instagram }}
        <a href="{{ .Site.Params.social.instagram }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#instagram"></use>
        </svg>
        </a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.pinterest}}
        <a href="{{ .Site.Params.social.pinterest }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#pinterest"></use>
        </svg></a>
        {{ else }}
        <span></span>
        {{ end }}
        {{ if .Site.Params.social.linkedin}}
        <a href="{{ .Site.Params.social.linkedin }}" target="_blank" rel="nofollow noreferrer">
        <svg class="fill-brand-footer">
          <use xlink:href="{{ $.Site.BaseURL }}icons/brands.svg#linkedin"></use>
        </svg></a>
        {{ else }}
        <span></span>
        {{ end }}
      </div>

      <address class="">

        {{ .Site.Params.schema.address }},
        {{ if .Site.Params.schema.address2 }}
        <br>
        {{ .Site.Params.schema.address2 }}
        {{ else }}
        <span></span>
        {{ end }}
        <br>
        {{ .Site.Params.schema.city }}, {{ .Site.Params.schema.region }}
        <br>
        {{ .Site.Params.schema.postalcode }}
        <br>
        {{ .Site.Params.schema.country }}

      </address>    

      <h3 class="is-size-3 my-2">{{ i18n "email" }}</h3>
      <p>{{ $.Site.Params.schema.email }}</p>
      <h3 class="is-size-3 my-2">{{ i18n "phone" }}</h3>
      <p>{{ $.Site.Params.schema.phone }}</p>

    </div>

  </div>
</div>
</section>
<div class="has-background-primary py-4">

    <div class="container level has-text-dark">
          
      <div class="level-left">
  
        <div class="level-item">
      
        <p>Copyright © {{ dateFormat "2006" now }} - 
          
          {{ if eq .Site.Language.Lang "fr" }}
            
              <a href="{{ .Site.BaseURL }}/privacy-policy" class="has-text-dark">{{ i18n "privacypolicy" }}
              
                  {{ else }}
              
                  <a href="{{ .Site.BaseURL | relLangURL }}privacy-policy" class="has-text-dark has-text-centered-touch">{{ i18n "privacypolicy" }}</a>
              
                {{ end }}
                
              </a> 
          
            </p>
          
          </div>   
        </div>
    
        <div class="level-right has-text-centered-touch">
            
            <p class="">{{ i18n "credit" }} <a href="https://www.supersonicsites.com" class="has-text-dark">Supersonic Sites</a></p>
          
          </div>                   
        
        </div>
  
    </div>